*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif; ; 
}

li{
    list-style: none;
}

.header-menu{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    display: flex;
    position:fixed;
    width: 100%;
    padding: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
    height: 60px;
    background-color: #938df8;
}

.header-menu nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.lista-menu{
    display: flex;
    
}